* {
  margin: 0px;
  padding: 0px;
}
.skills1 {
  /* background-image: url("./skillsimages/imgs/skillback2.jpg"); */
  background-color: rgb(64, 62, 62);
  height: cover;
  width: 100%;
  z-index: -1;
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
}
.card {
  transition: all 0.1s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
