* {
  margin: 0px;
  padding: 0px;
}

#userimage {
  height: 250px;
  width: 318px;
}
#Main {
  background-color: black;
  width: 100%;
  height: cover;
  padding-top: 10vh;
  background-size: cover;
  background-repeat: none;
  opacity: 0.9;
  color: "black";
}
.stats {
  background-color: rgb(22, 197, 197);
}
