.containerProj {
  background-image: url("./Projectimages/projback1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
