* {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
}
.about {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  /* opacity: 0.9; */
}
.carousel .item {
  height: 300px;
}
.content_about {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
@media only screen and (max-width: 600px) {
  .card > div > p {
    font-size: 12px;
  }
}
.anishlogo {
  height: 102px;
  width: 106px;
  border-radius: 330px;
  transition: all 0.2s ease-in-out;
}
.anishlogo:hover {
  transform: scale(1.2);
}
.carousel {
  width: 640px;
  height: 360px;
}
#result1 {
  width: 600px;
  height: 420px;
}
.containera {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #5c5750;
  padding: 15px 15px;
  width: auto;
}
h2 {
  font-size: 5em;
  font-family: serif;
  color: transparent;
  text-align: center;
  animation: effect 2s linear infinite;
}

@keyframes effect {
  0% {
    background: linear-gradient(#008000, #00ff00);
    -webkit-background-clip: text;
  }
  25% {
    background: linear-gradient(#9b464c, #ff0000);
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(#3ce7d7, #000fff);
    -webkit-background-clip: text;
  }
}
