* {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
}
.about {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  /* opacity: 0.9; */
}
.carousel .item {
  height: 300px;
}
.content_about {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
@media only screen and (max-width: 600px) {
  .card > div > p {
    font-size: 12px;
  }
}
.anishlogo {
  height: 102px;
  width: 106px;
  border-radius: 330px;
  transition: all 0.2s ease-in-out;
}
.anishlogo:hover {
  transform: scale(1.2);
}
.carousel {
  width: 640px;
  height: 360px;
}
#result1 {
  width: 600px;
  height: 420px;
}
.containera {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #5c5750;
  padding: 15px 15px;
  width: auto;
}
h1,
h2 {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
