* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#intro1 {
  margin-bottom: 1px;
}
/* #intro1:hover {
  transform: scale(1.5);
} */
.container1 {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  color: white;
}
.intro {
  font-size: 20px;
  text-align: center;
}
.typer {
  font-size: 45px;
}
.headhome {
  mix-blend-mode: screen;
  background-color: #fff;
}
.h1home,
.h2home {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 90px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
